<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kangnam.mapper.BoardMapper">

	<insert id="create">
		insert into ntc_tb (ADMN_ID, NTC_SBJCT, NTC_CMT, NTC_TM, NTC_HITS)
		values(#{admn_id},#{ntc_sbjct},#{ntc_cmt},NOW(),0)
	</insert>

	<select id="read" resultType="org.kangnam.domain.BoardVO">
		SELECT ADMN_NM, NTC_SBJCT, NTC_CMT, NTC_SQ
		FROM ntc_vw
		where NTC_SQ = #{ntc_sq}
	</select>

	<update id="update">
		update ntc_tb set NTC_SBJCT=#{ntc_sbjct}, NTC_CMT =#{ntc_cmt}
		where NTC_SQ = #{ntc_sq}
	</update>

	<delete id="delete">
		delete from ntc_tb where NTC_SQ = #{ntc_sq}
	</delete>

	<select id="listAll" resultType="org.kangnam.domain.BoardVO">
 <![CDATA[
 SELECT NTC_SQ, NTC_SBJCT, ADMN_NM, NTC_CMT, NTC_TM, NTC_HITS
FROM ntc_vw
 where NTC_SQ > 0 
 order by NTC_SQ desc, NTC_TM desc
 ]]>
	</select>

	<select id="listPage" resultType="BoardVO">
 <![CDATA[
 SELECT NTC_SQ, NTC_SBJCT, ADMN_NM, NTC_CMT, NTC_TM, NTC_HITS
FROM ntc_vw
 where NTC_SQ > 0 
 order by NTC_SQ desc, NTC_TM desc
 limit #{page}, 20
 ]]>
	</select>

	<select id="listCriteria" resultType="BoardVO">
 <![CDATA[
 SELECT NTC_SQ, NTC_SBJCT, ADMN_NM, NTC_CMT, NTC_TM, NTC_HITS
FROM ntc_vw
 where NTC_SQ > 0 
 order by NTC_SQ desc, NTC_TM desc
 limit #{pageStart}, #{perPageNum}
 ]]>
	</select>



	<select id="countPaging" resultType="int">
 <![CDATA[
 select 
   count(NTC_SQ) 
 from 
   ntc_vw
 where 
   NTC_SQ > 0 
 ]]>
	</select>



	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and NTC_SBJCT like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and NTC_CMT like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="BoardVO">
<![CDATA[  
  select * 
  from ntc_vw
  where ntc_sq > 0 
]]>

		<include refid="search"></include>
  
<![CDATA[    
  order by ntc_sq desc
  limit #{pageStart}, #{perPageNum}
]]>
	</select>

	<select id="listSearchCount" resultType="int">
<![CDATA[  
  select count(ntc_sq) 
  from ntc_vw
  where NTC_SQ > 0 
]]>
		<include refid="search"></include>

	</select>


	<update id="updateViewCnt">
		update ntc_tb set ntc_hits = ntc_hits +1 where ntc_sq = #{ntc_sq}
	</update>


</mapper>
