<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kangnam.mapper.ExpenseMapper">

	<select id="exlist" resultType="org.kangnam.domain.ExpenseVO">
		<![CDATA[
			SELECT ACCNT_SQ, ACCNT_NM
			FROM ACCNT_TB
		]]>
	</select>

	<select id="dvslist" resultType="org.kangnam.domain.ExpenseVO">
		<![CDATA[
			SELECT EXPS_DVS_SQ, EXPS_DVS_NM
			FROM EXPS_DVS_TB
		]]>
	</select>

	<insert id="create">
		insert into exps_tb (ADMN_ID,ACCNT_SQ,EXPS_DVS_SQ,EXPS_DT,EXPS_NM,EXPS_MN)
		values(#{admn_id},#{accnt_sq},#{exps_dvs_sq},CURDATE(),#{exps_nm},#{exps_mn})
	</insert>

	<select id="read" resultType="org.kangnam.domain.ExpenseVO">
		SELECT ACCNT_NM,EXPS_DT,EXPS_MN,ADMN_NM,EXPS_NM, EXPS_SQ
		FROM exps_vw
		where EXPS_SQ = #{exps_sq}
	</select>

	<update id="update">
		update exps_tb set EXPS_NM =#{exps_nm},EXPS_DT =#{exps_dt},EXPS_MN
		=#{exps_mn}
		where EXPS_SQ = #{exps_sq}
	</update>

	<delete id="delete">
		delete from exps_tb where EXPS_SQ = #{exps_sq}
	</delete>

	<select id="listAll" resultType="org.kangnam.domain.ExpenseVO">
 <![CDATA[
 SELECT EXPS_SQ, ACCNT_NM, EXPS_DT, EXPS_MN, ADMN_NM, EXPS_NM
FROM EXPS_VW
 where EXPS_SQ > 0 
 order by EXPS_SQ desc, exps_dt desc
 ]]>
	</select>

	<select id="listPage" resultType="ExpenseVO">
 <![CDATA[
  SELECT EXPS_SQ, ACCNT_NM, EXPS_DT, EXPS_MN, ADMN_NM, EXPS_NM
FROM EXPS_VW
 where EXPS_SQ > 0 
 order by EXPS_SQ desc, exps_dt desc
 limit #{page}, 20
 ]]>
	</select>

	<select id="listCriteria" resultType="ExpenseVO">
 <![CDATA[
  SELECT EXPS_SQ, ACCNT_NM, EXPS_DT, EXPS_MN, ADMN_NM, EXPS_NM
FROM EXPS_VW
 where EXPS_SQ > 0 
 order by EXPS_SQ desc, exps_dt desc
 limit #{pageStart}, #{perPageNum}
 ]]>
	</select>



	<select id="countPaging" resultType="int">
 <![CDATA[
 select 
   count(EXPS_SQ) 
 from 
   EXPS_VW 
 where 
   EXPS_SQ > 0 
 ]]>
	</select>



	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and ADMN_NM like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and ACCNT_NM like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="ExpenseVO">
<![CDATA[  
  select * 
  from EXPS_VW
  where EXPS_SQ > 0 
]]>

		<include refid="search"></include>
  
<![CDATA[    
  order by EXPS_SQ desc
  limit #{pageStart}, #{perPageNum}
]]>
	</select>

	<select id="listSearchCount" resultType="int">
<![CDATA[  
  select count(EXPS_SQ) 
  from EXPS_VW
  where EXPS_SQ > 0 
]]>
		<include refid="search"></include>

	</select>

</mapper>
