<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kangnam.mapper.LockifmMapper">

	<!-- 현재 월 회원인 유저 출력 리스트 -->
	<select id="listAll" resultType="org.kangnam.domain.LockifmVO">
		<![CDATA[
			SELECT MEM_SQ, MEM_NM, MEM_PTHON, LC_NM, MON_MEM_STRT_DD, MON_MEM_END_DD
			FROM MEM_LC_VW
			WHERE MEM_SQ > 0
		]]>
	</select>

	<!-- 현재 월 회원 중 선택한 유저 정보 -->
	<select id="read" resultType="org.kangnam.domain.LockifmVO">
		<![CDATA[
			SELECT MEM_SQ, MEM_NM, MEM_PTHON, LC_NM, MON_MEM_STRT_DD, MON_MEM_END_DD
			FROM MEM_LC_VW
			WHERE MEM_SQ = #{MEM_SQ}
		]]>
	</select>

	<!-- 비어있는 사물함만 출력해보자 -->
	<select id="nullLockifm" resultType="org.kangnam.domain.LockifmVO">
		<![CDATA[
			SELECT LC_NM
			FROM LC_VW
			WHERE MEM_NM IS NULL
		]]>
	</select>

	<!-- 회원의 사물함을 변경해보자 -->
	<update id="update">
		UPDATE MON_MEM_TB
		SET LC_SQ = #{lc_sq}
		WHERE MEM_SQ =
		#{mem_sq}
	</update>



	<!-- 페이징 처리 관련 쿼리문 -->
	<select id="listPage" resultType="LockifmVO">
 		<![CDATA[
			SELECT MEM_SQ, MEM_NM, MEM_PTHON, LC_NM, MON_MEM_STRT_DD, MON_MEM_END_DD
			FROM MEM_LC_VW
 			ORDER BY MEM_SQ DESC
			WHERE MEM_SQ > 0
 			limit #{page}, 20
 		]]>
	</select>

	<select id="listCriteria" resultType="LockifmVO">
		<![CDATA[
			SELECT MEM_SQ, MEM_NM, MEM_PTHON, LC_NM, MON_MEM_STRT_DD, MON_MEM_END_DD
			FROM MEM_LC_VW
 			ORDER BY MEM_SQ DESC
			WHERE MEM_SQ > 0
 			limit #{pageStart}, #{perPageNum}
 		]]>
	</select>



	<select id="countPaging" resultType="int">
 		<![CDATA[
 			SELECT COUNT(*) 
 			FROM MEM_LC_VW
			WHERE MEM_SQ > 0
		]]>
	</select>



	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND MEM_SQ LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				AND MEM_NM LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				AND MEM_PTHON LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				AND LC_NM LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="LockifmVO">
		<![CDATA[  
 			SELECT MEM_SQ, MEM_NM, MEM_PTHON, LC_NM, MON_MEM_STRT_DD, MON_MEM_END_DD 
  			FROM MEM_LC_VW
			WHERE MEM_SQ > 0
		]]>

		<include refid="search"></include>
  
		<![CDATA[    
  			ORDER BY MEM_SQ DESC
  			limit #{pageStart}, #{perPageNum}
		]]>
	</select>

	<select id="listSearchCount" resultType="int">
		<![CDATA[  
  			SELECT COUNT(*)
  			FROM MEM_LC_VW
			WHERE MEM_SQ > 0
		]]>
		<include refid="search"></include>

	</select>

</mapper>