<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kangnam.mapper.MemberMapper">

	<select id="seatList" resultType="org.kangnam.domain.MemberVO">
		<![CDATA[
		SELECT SEAT.SEAT_SQ, SEAT.SEAT_NM
         FROM SEAT_TB SEAT LEFT JOIN
         (SELECT T2.SEAT_SQ, T2.MEM_NM
         FROM
         (
         SELECT MMR.MEM_SQ
         FROM MON_MEM_RGSTRT_TB MMR
         WHERE MMR.MON_MEM_END_DD >= CURDATE()
         )T LEFT JOIN 
         (
         SELECT MEM.MEM_SQ, MEM.MEM_NM, MM.SEAT_SQ
         FROM MEM_TB MEM, MON_MEM_TB MM
         WHERE MEM.MEM_SQ = MM.MEM_SQ
         AND MM.SEAT_DVS_SQ = 2
         )T2
         ON T.MEM_SQ = T2.MEM_SQ
         WHERE SEAT_SQ IS NOT NULL)T 
         ON SEAT.SEAT_SQ = T.SEAT_SQ
         WHERE MEM_NM IS NULL
         AND SEAT_NM LIKE '%D%'
		]]>
	</select>

	<select id="locList" resultType="org.kangnam.domain.MemberVO">
		<![CDATA[
			SELECT LC_NM AS LC_SQ, LC_NM
            FROM LC_VW
            WHERE MEM_NM IS NULL
		]]>
	</select>

	<select id="memList" resultType="org.kangnam.domain.MemberVO">
		<![CDATA[
			SELECT SEAT_DVS_SQ, SEAT_DVS_NM
			FROM seat_dvs_tb
		]]>
	</select>

	<select id="mdvsList" resultType="org.kangnam.domain.MemberVO">
		<![CDATA[
			SELECT SL_PROD_SQ, SL_PROD_NM
			FROM sl_prod_tb
		]]>
	</select>

	<select id="maxMemSq" resultType="int">
		<![CDATA[
		 SELECT MAX(MEM_SQ) AS MEM_SQ
              FROM MEM_TB 
		]]>
	</select>

	<select id="maxRgsSq" resultType="int">
		<![CDATA[
		 SELECT MAX(MON_MEM_RGSTRT_SQ) AS MON_MEM_RGSTRT_SQ
              FROM MON_MEM_RGSTRT_TB 
              WHERE MEM_SQ =#{mem_sq}
		]]>
	</select>




	<insert id="create">
		insert into MEM_TB (ADMN_ID,MEM_NM,MEM_PTHON,MEM_JN_DT)
		values(#{admn_id},#{mem_nm},#{mem_pthon} ,CURDATE())
	</insert>

	<insert id="create1">

		insert into MON_MEM_TB (MEM_SQ,SEAT_DVS_SQ,MON_MEM_ADDR,MON_MEM_BRTHDAY)
		values(#{mem_sq},1,#{mon_mem_addr},#{mon_mem_brthday})
	</insert>



	<select id="read" resultType="org.kangnam.domain.MemberVO">
		SELECT MEM_SQ,ADMN_ID,MEM_NM,MEM_PTHON,MEM_JN_DT
		FROM mem_tb
		where MEM_SQ = #{mem_sq}
	</select>

	<select id="read1" resultType="org.kangnam.domain.MemberVO">
		SELECT MEM_SQ,LC_SQ,SEAT_DVS_SQ,SEAT_SQ,MON_MEM_ADDR,MON_MEM_BRTHDAY
		FROM mon_mem_tb
		where MEM_SQ = #{mem_sq}
	</select>

	<select id="read2" resultType="org.kangnam.domain.MemberVO">
		SELECT MON_MEM_RGSTRT_SQ,MEM_SQ,MON_MEM_STRT_DD,MON_MEM_END_DD
		FROM mon_mem_rgstrt_tb
		where MEM_SQ = #{mem_sq}
	</select>

	<select id="read3" resultType="org.kangnam.domain.MemberVO">
		SELECT MEM_SQ, ADMN_ID, MEM_NM, MEM_PTHON, MEM_JN_DT, LC_NM, SEAT_DVS_NM,
		SEAT_NM, MON_MEM_ADDR, MON_MEM_BRTHDAY, MON_MEM_STRT_DD,
		MON_MEM_END_DD
		FROM
		(
		SELECT MEM.MEM_SQ, MEM.ADMN_ID, MEM.MEM_NM, MEM.MEM_PTHON, MEM.MEM_JN_DT,
		LC.LC_NM, SD.SEAT_DVS_NM, SEAT.SEAT_NM, MM.MON_MEM_ADDR,
		MM.MON_MEM_BRTHDAY, MMR.MON_MEM_STRT_DD, MMR.MON_MEM_END_DD
		FROM MEM_TB MEM LEFT JOIN MON_MEM_TB MM
		ON MEM.MEM_SQ = MM.MEM_SQ
		LEFT JOIN LC_TB LC
		ON LC.LC_SQ = MM.LC_SQ
		LEFT JOIN SEAT_DVS_TB SD
		ON SD.SEAT_DVS_SQ = MM.SEAT_DVS_SQ
		LEFT JOIN SEAT_TB SEAT
		ON SEAT.SEAT_SQ = MM.SEAT_SQ
		LEFT JOIN (SELECT MON_MEM_RGSTRT_SQ, MEM_SQ, MAX(MON_MEM_STRT_DD) AS
		MON_MEM_STRT_DD, MAX(MON_MEM_END_DD) AS MON_MEM_END_DD
		FROM MON_MEM_RGSTRT_TB
		GROUP BY MEM_SQ) MMR
		ON MM.MEM_SQ = MMR.MEM_SQ
		)T
		WHERE MEM_SQ = #{mem_sq}
	</select>


	<update id="update1">
		UPDATE MEM_TB
		SET MEM_NM = #{mem_nm}, MEM_PTHON = #{mem_pthon}
		WHERE MEM_SQ = #{mem_sq}
	</update>

	<update id="update2">
		UPDATE MON_MEM_TB
		SET MON_MEM_ADDR = #{mon_mem_addr}, MON_MEM_BRTHDAY = #{mon_mem_brthday}
		WHERE MEM_SQ = #{mem_sq}
	</update>

	<delete id="delete">
		delete from MEM_TB where MEM_SQ = #{mem_sq}
	</delete>

	<select id="listAll" resultType="org.kangnam.domain.MemberVO">
 <![CDATA[
 SELECT MEM_SQ, MEM_NM, MEM_PTHON
FROM MEM_TB
 where MEM_SQ > 0 
 order by MEM_SQ desc
 ]]>
	</select>

	<select id="listPage" resultType="MemberVO">
 <![CDATA[
 SELECT MEM_SQ, MEM_NM, MEM_PTHON
FROM MEM_TB
 where MEM_SQ > 0 
 order by MEM_SQ desc
 limit #{page}, 20
 ]]>
	</select>

	<select id="listCriteria" resultType="MemberVO">
 <![CDATA[
 SELECT MEM_SQ, MEM_NM, MEM_PTHON
FROM MEM_TB
 where MEM_SQ > 0 
 order by MEM_SQ desc
 limit #{pageStart}, #{perPageNum}
 ]]>
	</select>



	<select id="countPaging" resultType="int">
 <![CDATA[
 select 
   count(MEM_SQ) 
 from 
   MEM_TB
 where 
   MEM_SQ > 0 
 ]]>
	</select>



	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and MEM_NM like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and MEM_PTHON like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="MemberVO">
<![CDATA[  
  select * 
  from MEM_TB
  where MEM_SQ > 0 
]]>

		<include refid="search"></include>
  
<![CDATA[    
  order by MEM_SQ desc
  limit #{pageStart}, #{perPageNum}
]]>
	</select>

	<select id="listSearchCount" resultType="int">
<![CDATA[  
  select count(MEM_SQ) 
  from MEM_TB
  where MEM_SQ > 0 
]]>
		<include refid="search"></include>

	</select>

</mapper>
